<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070004515182-eo2r1396s6cv06f42el6c4oobnsarbt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070004515182-eo2r1396s6cv06f42el6c4oobnsarbt6</string>
	<key>API_KEY</key>
	<string>AIzaSyAE7bQTOBAtrU-uNMo9Yy3GEWkjK-gf2iM</string>
	<key>GCM_SENDER_ID</key>
	<string>1070004515182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.6amtech.emarketDeliveryBoy</string>
	<key>PROJECT_ID</key>
	<string>localroots-da508</string>
	<key>STORAGE_BUCKET</key>
	<string>localroots-da508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070004515182:ios:e3fd1ec14630c729de517f</string>
</dict>
</plist>